.tabs__container {
  --vars-color: var(--action-button-color);
  --headers-color: #159299;
}

.tabs__switchers {
  padding-top: 4px;
  display: flex;
  justify-content: space-around;
}

.tabs__editorscontainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.tabs__editor {
  background-color: whitesmoke;
  border: 2px solid;
  border-radius: var(--border-radius);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;

  height: 20vh;
}

.editor__text {
  width: 100%;
  resize: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 8px;
  box-sizing: border-box;
  flex: 1;
}

.tabs__editor_hide {
  display: none;
}

.tabs__editor_show {
  display: flex;
}

.btn_close {
  transform: scale(0.9);
  background-color: gray;
}

.btn_open {
  transform: scale(1);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-bottom: 2px solid var(--headers-color);
}

.varsTab {
  border-color: var(--vars-color);
}

.headersTab {
  border-color: var(--headers-color);
}

.varsBtn {
  background-color: var(--vars-color);
}

.headersBtn {
  background-color: var(--headers-color);
}

.errorText {
  font-weight: bold;
  color: red;
  text-align: left;
  background-color: pink;
  padding: 2px;
  padding-left: 1rem;
}
