.button {
  background-color: var(--action-button-color);
  color: white;

  padding: 8px 16px;
  height: 40px;
  font-size: 14px;

  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--action-button-hover);
}

.button:active {
  background-color: var(--action-button-pressed); 
}
