.wrapper {
    top: 64px;
    height: 100%;
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
}
  
.interface {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    flex-grow: 1;
}
  
.rrBlock {
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1;
}

.documentation {
    width: 25%;
    overflow: scroll;
    position: absolute;
}