.sidebar {
    position: absolute;
    width: 10px;
    display: flex;
    flex-direction: inherit;
    align-content: flex-end;
    align-items: center;
    height: calc(100vh - 407px);
}

.button_aside {
    width: 20px;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
