.spinner__container {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner__container_fullscreen {
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.spinner__img {
  display: block;
  width: 4rem;
  height: 4rem;

  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
