.form_wrapper {
    position: relative;
    width: 320px;
    height: 420px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    color: #ffffff;
}

.form_wrapper::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 320px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, var(--salem), var(--salem), var(--salem));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.form_wrapper form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    inset: 1px;
    z-index: 2;
    background: #efefef;
    margin: 0 auto;
    padding: .5em;
    border-radius: 6px;
    overflow: hidden;
    color: #ffffff;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: .75em;
    pointer-events: none;
    font-size: 1em;
    transition: .5s;
    color: #a5a5a5;
}

.login_form input {
    height: 3em;
    padding: .5em;
    color: #000000;
    border-radius: .31em;
    border: .063em solid #000000;
    font-size: 1em;
    width: 100%;
}

.inputBox input:focus ~ span {
    color: #00dfc4;
    transform: translate(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1b2d3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
}

.hasError .inputBox input:focus ~ span {
    border-color: red;
    color: red;
}

.login_form {
    color: #ffffff;
}

.login_form .hasError input {
    border-color: red;
}

.login_form [role="alert"] {
    color: red;
    text-align: center;
    height: 1.3em;
    line-height: 1.1em;
    font-size: .8em;
}

.login_form button {
    cursor: pointer;
}

.login_form .form_group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login_form .form_group:last-child {
    margin: .5em 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
