.lang_btn {
    position: fixed;
    top: 0;
    right: 0;
}

.nav_home > * {
    display: block;
    margin: 40px 0;
}

.nav_home > *:hover {
    display: block;
    margin: 40px 0;
    color: #159299;
}