.user_btns {
    display: flex;
    align-self: center;
    float: right;
    height: 64px;
}

.user_btns_auth {
    display: flex;
    align-self: center;
    gap: 30px;
    margin-right: 30px;
}