.footer {
    background: #111;
    height: 200px;
    width: 100%;
    padding-top: 20px;
    color: #fff;
}

.footer_content {
    display: block;
    columns: 2;
}

.footer_content h6 {
    display: contents;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5rem;
}

.footer_content p {
    margin-top: 1.5em;
}

.rs_logo {
    height: 40px;
}

.author_info {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    gap: 3em;
}

.author_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author_img:hover {
    scale: 1.2;
}

.footer_copyright {
    background: #252525;
    width: 100%;
    height: 50px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.footer_copyright a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.footer_copyright p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    font-size: 0.9em;
}

@media screen and (max-width: 600px) {

    .footer {
        height: 240px;
    }

    .footer_content {
        display: block;
        columns: 1;
    }

    .footer_content h6 {
        display: contents;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5rem;
    }

    .footer_content p {
        margin-top: 1em;
        font-size: 14px;
    }

    .author_img {
        width: 40px;
        height: 40px;
    }

}