
.signup_form .form_group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.signup_form .form_group:last-child{
    margin: .5em 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.signup_form .form_group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.signup_form .form_group:last-child{
    margin: .5em 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}