.signup_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.signup_form input, .signup_form button[type="submit"] {
    margin: .5em .3em 0;
    padding: .5em;
    width: 17em;
    color: inherit;
    border: .063em solid #000000;
}

.signup_form .hasError input {
    border-color: red;
}

.signup_form [role="alert"] {
    color: red;
    text-align: center;
    height: 1.3em;
    font-size: .8em;
}

.signup_form button[type="submit"] {
    align-self: baseline;
    cursor: pointer;
}

.signup_form .form_group {
    display: flex;
    flex-direction: column;
}