.bg {
    background-color: #202020;
    background-image: url(https://graphql.org/img/graph-wash.png);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    top: 0;
    right: 0;
    height: calc(100vh - 260px);
    width: 100%;
    background-repeat: repeat;
}

.bg_btns {
    float: right;
    margin-right: 0;
}

.user_btns {
    display: flex;
    width: 100%;
    justify-content: end;
    float: right;
    height: 64px;
}

.user_btns_auth {
    display: flex;
    align-self: center;
    gap: 30px;
    margin-right: 30px;
}

.welcome_content {
    color: white;
    margin-top: 12em;
}

.welcome_content p {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
}

.welcome_content div {
    display: flex;
    justify-content: center;
}

.welcome_content div h1 {
    justify-content: center;
    width: 32rem;
    font-size: 50px;
    text-transform: uppercase;
    padding: 0 2rem;
    margin: 0;
    letter-spacing: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation: typing 6s steps(45), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media screen and (max-width: 600px) {

    .bg {
        height: calc(100vh - 240px);
    }

    .user_btns {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 64px;
    }

    .user_btns_auth {
        display: flex;
        align-self: center;
        gap: 10px;
        margin-right: 10px;
    }

    .welcome_content p {
        font-size: 20px;
    }

    .welcome_content div h1 {
        justify-content: center;
        width: 20rem;
        font-size: 24px;
    }

}

@media screen and (max-width: 400px) {

    .bg {
        height: calc(100vh - 260px);
    }

    .user_btns {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 64px;
    }

    .user_btns_auth {
        display: flex;
        align-self: center;
        gap: 10px;
        margin-right: 10px;
    }

    .welcome_content p {
        font-size: 14px;
    }

    .welcome_content div h1 {
        justify-content: center;
        width: 18rem;
        font-size: 20px;
    }

}